*.zip
forge/*.py
forge/*.pyc
forge/*.properties
forge/*.cmd
forge/*.txt
forge/client
forge/common
forge/fml
forge/patches


forge/mcp/bin/*
forge/mcp/conf/*
forge/mcp/docs/*
forge/mcp/eclipse/*
forge/mcp/forge/*
forge/mcp/jars/*
forge/mcp/lib/*
forge/mcp/logs/*
forge/mcp/modsrc/*
forge/mcp/reobf/*
forge/mcp/runtime/*
forge/mcp/temp/*
forge/mcp/*.txt
forge/mcp/CHANGELOG

forge/mcp/src/minecraft/cpw/*
forge/mcp/src/minecraft/ibxm/*
forge/mcp/src/minecraft/net/minecraft/*
forge/mcp/src/minecraft/net/minecraftforge/*
forge/mcp/src/minecraft/paulscode/*
forge/mcp/src/minecraft/fml_at.cfg
forge/mcp/src/minecraft/fml_marker.cfg
forge/mcp/src/minecraft/fmlversion.properties
forge/mcp/src/minecraft/forge_at.cfg
forge/mcp/src/minecraft/forge_logo.png
forge/mcp/src/minecraft/mcp.png
forge/mcp/src/minecraft/mcpmod.info
forge/mcp/src/minecraft/start.java
forge/mcp/src/minecraft/*lzma

!forge/mcp/src/minecraft/assets/*
!forge/mcp/src/minecraft/net/dcatcher/*


*.bat
!compile.bat
*.sh